div > input{
    background-color: rgb(255, 230, 0);
}
.upvote  {
    background-color: rgb(0, 255, 60);
    color: blueviolet;
}

.upvote + button {
background-color: cornflowerblue ;
color: aliceblue;
}


p+h3{
text-decoration: underline
}
nav ul li a {
    color: hotpink;
}